mixin login(title)
    .login.card-wrapper(class != attributes.class)
        form(action="#", method="post")
            .card-title.section-title.dark-shade-100= title
            .login__login-fields
                +textField("email", "Email")(class = "login__text-field")
                +textField("password", "Пароль")(class = "login__text-field")
            +button_wide("Войти")(class = "login__button-wide")
            .login__reg
                p.parag= "Нет аккаунта на Toxin?"
                +button_border("Создать")