mixin button(text)
    a.label.white.button.gradient-purple-bg= text

mixin button_border(text)
    a.label.purple.button.button_border= text 
        .button__inner.gradient-purple-bg

mixin button_transparent(text)
    a.label.purple.button_transparent= text 

mixin button_pay(text)
    a.label.white.button.button_pay.gradient-purple-bg= text
        i.material-icons.button_pay-arrow.arrow-forward arrow_forward