mixin checkbox-buttons(...elements)
    .checkbox-buttons
        h3.label.checkbox-buttons__title Checkbox buttons
        ul
            each item in elements
                li.checkbox-buttons__items
                    input(type="checkbox" name = item.name id = item.id).checkbox-buttons__inp
                    label(for=item.name).parag= item.station

mixin checkbox-buttons_rich(title, ...elements)
    .checkbox-buttons
        h3.label.checkbox-buttons__title= title
        ul
            each item in elements
                li.checkbox-buttons__items
                    input(type="checkbox" name = item.name id = item.id).checkbox-buttons__inp
                    div
                        label(for=item.name).parag= item.station
                        p.checkbox-buttons__description= item.text
