mixin comment(author, content, img, likesAmount)
    .comment
        .comment__head
            img.comment__img(src = "assets/img/comment/"+img)
            .comment__info
                h4.comment__author.parag.dark-shade-75= author
                span.comment__date.parag.dark-shade-75 5 дней назад
        .comment__body
            +like-button(likesAmount)(class="comment__like-button")
            p.comment__text.parag.dark-shade-75= content