mixin dropdown-input(args)
    .label.label_pdng #{args.label}
    .input-with-btn
        input(type='text' name=args.name placeholder = args.placeholder disabled).input.input-with-btn__inp.input-with-btn__inp_dark-shade-75
        button.input-with-btn__btn.dark-shade-50
            i.material-icons expand_more