mixin range-slider()
    .range-slider
        .range-slider__head
           .range-slider__title.label.dark-shade-100 Диапазон цены
           .range-slider__price-amount.dark-shade-50#amount
        #slider-range
        .range-slider__description.dark-shade-50 Стоимость за сутки пребывания в номере