mixin subscription-input()
    .input-with-btn
        input(type='text' name="email" placeholder="Email").input.input-with-btn__inp
        button.input-with-btn__btn.purple
            i.material-icons arrow_forward