extends templates/ui-kit_templ
include elements/dropdown-input
include elements/dropdown/dropdown
include elements/subscription-input
include elements/checkbox-button
include elements/expandable-checkbox-list
include elements/radio-button
include elements/rate-button
include elements/switch-button
include elements/button
include elements/pagination
include elements/range-slider
include elements/bullet-list
include elements/features-list
include elements/comment
include elements/like-button
include elements/date-dropdown
include elements/text-field
include elements/input_masked
include cards/search-rooms
include cards/registration
include cards/login
include cards/room-card
include cards/room-calc
block content
    .ui-kit
        img(src = "assets/img/ui-kit/logo-greyscale.svg").ui-kit__logo
       
        .ui-kit-cards
            .ui-kit-cards__column
                +search-rooms("Найдём номера под ваши пожелания")(class = "ui-kit-cards__item")
                +registration("Регистрация аккаунта")(class = "ui-kit-cards__item")
            .ui-kit-cards__column
                +room-calc("888", "9 990", true)(class = "ui-kit-cards__item")
                +login("Войти")(class = "ui-kit-cards__item")
            .ui-kit-cards__column
                #ui-kit-cards__date-dropdown.ui-kit-cards__date-dropdown.ui-kit-cards__item
                +room-card("room-card-img888.jpg","888", "9 990", 5, "145", true)(class = "ui-kit-cards__item")
                +room-card("room-card-img840.jpg","840", "9 900", 5, "145", false)(class = "ui-kit-cards__item")
