extends templates/ui-kit_templ
include elements/dropdown
block content
    -
        var args = {
            label: "Гости",
            name: "dropdown",
            placeholder: "Сколько гостей"
        }
    +dropdownW320(args, "Взрослые", "Дети" , "Младенцы")