-
    var argsComfort = {
        label: "Удобства номера",
        name: "dropdown-comfort",
        placeholder: "Удобства номера"
    }
+dropdown_comfort(argsComfort, {itemName:"Спальни", itemData: "bedrooms"}, {itemName:"Кровати", itemData: "beds"} , {itemName:"Ванные комнаты", itemData: "baths"})