    -  
        var argsGuests = {
            label: "Гости",
            name: "dropdown-guests",
            placeholder: "Сколько гостей"
        }
    +dropdown_guests(argsGuests, {itemName:"Взрослые", itemData: "adult"}, {itemName:"Дети", itemData: "kids"} , {itemName:"Младенцы", itemData: "babyes"})