.login
    &__login-fields
        margin-bottom: 20px
    &__button-wide
        margin-bottom: 30px
    &__reg
        display: flex
        justify-content: space-between
        align-items: center