.like-button
    display: block
    height: 20px
    width: 40px
    border-radius: 10px
    background: $Dark-Shade-25
    padding: 1px
    &__wrap
        height: 100%
        display: flex
        align-items: center
        background: #fff
        border-radius: 10px
    &__icon
        color: $Dark-Shade-25
        font-size: 10px
        line-height: 20px
        margin-left: 4px
    &__count
        font-family: Montserrat
        font-style: normal
        font-weight: normal
        font-size: 10px
        line-height: 20px
        margin-left: 7px
        color: $Dark-Shade-25
                