@import "vars"
.section-title
    font-family: Quicksand-Bold
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 125%
    color: $Dark-Shade-100

.widget-title
    font-family: Quicksand-Bold
    font-style: normal
    font-weight: bold
    font-size: 19px
    line-height: 126%
    color: $Dark-Shade-100

.label
    font-famile: Montserrat-Bold
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 100%
    text-transform: uppercase
    color: $Dark-Shade-100
.parag
    font-family: Montserrat-Regular
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 171%
    color: $Dark-Shade-75

input
    font-family: Montserrat-Regular
    font-style: normal
    font-weight: normal
    font-size: 14px
    border: 1px solid $Dark-Shade-25
    box-sizing: border-box
    border-radius: 4px
    width: 100%
    max-width: 320px
    padding: 13px 15px 13px 15px
    color: $Dark-Shade-75
    transition: all .2s ease

input:hover, input:focus
    border: 1px solid $Dark-Shade-50
    outline: none
input::-webkit-input-placeholder  
    color: $Dark-Shade-25
input:-ms-input-placeholder
    color: $Dark-Shade-25
input::-ms-input-placeholder
    color: $Dark-Shade-25
input::placeholder
    color: $Dark-Shade-25