@import "vars"

.purple 
    color: $Purple

.dark-shade-50 
    color: $Dark-Shade-50

*, *:before, *:after
    box-sizing: border-box
.section-title
    font-family: Quicksand
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 125%
    color: $Dark-Shade-100

.widget-title
    font-family: Quicksand
    font-style: normal
    font-weight: bold
    font-size: 19px
    line-height: 126%
    color: $Dark-Shade-100

.label
    display: block
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 100%
    text-transform: uppercase
    color: $Dark-Shade-100
    &_pdng
        padding-bottom: 5.44px
.parag
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 171%
    color: $Dark-Shade-75
.input
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 14px
    border: 1px solid $Dark-Shade-25
    box-sizing: border-box
    border-radius: 4px
    width: 100%
    height: 44px
    max-width: 320px
    padding: 0 15px 0 15px
    color: $Dark-Shade-75
    transition: all .2s ease


.input-with-btn
    max-width: 320px
    display: flex
    justify-content: space-between 
    &:hover > *
        border-color: $Dark-Shade-50
        outline: none
    &__inp
        width: 100%
        z-index: 5
        border-radius: 5px 0 0 0
        border: 1px solid $Dark-Shade-25
        border-right: 0
        background: #fff
        &_dark-shade-75       
            &::-webkit-input-placeholder  
                color: $Dark-Shade-75
            &:-ms-input-placeholder
                color: $Dark-Shade-75
            &::-ms-input-placeholder
                color: $Dark-Shade-75
            &::placeholder
                color: $Dark-Shade-75
    &__inp:focus + &__btn
        border-color: $Dark-Shade-50
    &__btn   
        display: flex
        align-items: center
        justify-content: center
        width: 44px
        height: 44px
        border: 1px solid $Dark-Shade-25
        border-radius: 0 5px 0 0
        border-left: 0
        transition: all .2s ease
        i
            width: 44px

.input:hover, .input:focus
    border-color: $Dark-Shade-50
    outline: none
.input::-webkit-input-placeholder  
    color: $Dark-Shade-25
.input:-ms-input-placeholder
    color: $Dark-Shade-25
.input::-ms-input-placeholder
    color: $Dark-Shade-25
.input::placeholder
    color: $Dark-Shade-25

.input:disabled 
    cursor: pointer
    background-color: #fff


button 
    background: none
    border: none
    padding: 0
button:focus
    outline: none
ul
    padding: 0
    margin: 0